/*
  Josh Comeau's CSS Reset
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* END OF RESET */

/* Align both left/right divs to each other than after */
body {
  display: flex;
}

div.left {
  width: 30vw;
  height: 100vh;
}

div.right {
  width: 70vw;
  height: 100vh;
  padding: 5em 2.5em;
}

div.left img {
  width: 100%;
  height: 100%;
}

#attribution {
  position: absolute;
  bottom: 0;
  background: rgba(200, 200, 200, 0.75);
  padding: 0.2em;
}

.logo-area {
  position: absolute;
  top: 30%;
  width: inherit;
  height: 9em;
  display: flex;
  align-items: center;
  padding: 0.5em 2em;
  background: rgba(100, 100, 100, 0.35);
}

.logo-area img {
  height: inherit;
  width: inherit;
}

.cta {
  margin-top: 5em;
}

.sign-up {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  padding-top: 2em;
  width: 100%;
}

label {
  display: block;
  margin-top: 2em;
}

.sign-up p:nth-child(even){
  width: 25%;
}

.sign-up p:nth-child(odd){
  width: 75%;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 0.2em;
  padding: 0 0.3em;
}

input:invalid {
  border: 1px solid red;
}

button {
  display: block;
  margin-top: 2em;
}
